.App {
  text-align: center;
background-color: chocolate;
min-height: 100vh;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input{
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  font-size: 19px;
  border: none;
  box-shadow: 0 0 7px;
}
.form button {
  color: white;
  margin-top: 25px;
  width: 250px;
  font-size: 26px;
  background-color: lightskyblue;
  border: none;
  padding: 5px;
  border-radius: 6px;
  box-shadow: 0 0 3px black;
}
.form label {
  font-size: 25px;
  margin-top: 15px;
}
.form button:hover{
  box-shadow: 0 0 7px 2px black;
  background-color: aqua;
}